.pknm-list{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

/* body{
  background-image: url('https://th.bing.com/th/id/R.84c662dbdece47ea669213aa48faaf63?rik=vGnczL12uY%2fCFg&riu=http%3a%2f%2fst2.depositphotos.com%2f3213441%2f12022%2fv%2f950%2fdepositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg&ehk=e1t8ieBXwfnv1YffdAhsJlk%2bd0J%2f7tJ%2fdquEgjCpPXs%3d&risl=&pid=ImgRaw&r=0');

} */

