.pknm-list{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

body{
  background-image: url('https://orig00.deviantart.net/b1e8/f/2014/219/9/1/pokeballs_wallpaper_by_mandolinc-d7u4dgk.png');
  background-size: cover;
}

