<div *ngIf="loading$ | async">
  <!--<b>Loading... {{loading$ | async | json}}</b>-->
  <b>Loading...</b>
</div><br><br>

<div *ngIf="pkmnList$ | async as pkmnList">
  <h3 class="ms-5">Total number of Pokemon: {{pkmnList.length}}</h3><br/><br/>

  <div class="pknm-list">
    <div class="pkmn-item" *ngFor="let pkmn of pkmnList">

      <button style="width: 500px;" class="btn btn-danger btn-lg ms-5" (click)="searchPkmnByName(pkmn?.name)">#{{pkmn?.id}} {{pkmn?.name | uppercase}}</button><br/><br/>
      <!-- <img appImgError style="width: 100px;height: 100px;" src="{{pkmn?.imgUrl}}"/> -->
    </div>
  </div>

  <app-pagination-pkmn-list></app-pagination-pkmn-list>

</div>




