<mdb-carousel [controls]="true" [dark]="true">
  <mdb-carousel-item *ngIf="sprites.back_default">
    <img
      src={{sprites.back_default}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Back default</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.back_female">
    <img
      src={{sprites.back_female}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Back female</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.back_shiny">
    <img
      src={{sprites.back_shiny}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Back shiny</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.back_shiny_female">
    <img
      src={{sprites.back_shiny_female}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Back shiny female</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.front_default">
    <img
      src={{sprites.front_default}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Front default</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.front_female">
    <img
      src={{sprites.front_female}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Front female</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.front_shiny">
    <img
      src={{sprites.front_shiny}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Front shiny</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item *ngIf="sprites.front_shiny_female">
    <img
      src={{sprites.front_shiny_female}}
      style="width: 250px;height: 250px;"
    />
    <div style="margin-bottom: -10%;" class="carousel-caption d-none d-md-block">
      <p>Front shiny female</p>
    </div>
  </mdb-carousel-item>
  </mdb-carousel>
